@charset "UTF-8";

/* 공통 서식 */

h2{
  font-size:1.3rem;
}

input[type="button"]{
  background:#fff;
  border:1px solid #333;
  font-size:0.8rem;
  padding:4px 10px;
}

/* 2, 3, 4번째 콘텐츠 제목, 버튼 공통 서식 */
.best > h2, .event > h2, .new > h2{
  padding:30px 0px 30px 10%;
}
.best > input, .event > input, .new > input{
  position:absolute;
  right:10%;top:30px;
}

/* top버튼 서식 */
.t_btn{
  width:40px; height:40px;
  border:1px solid #333;
  border-radius:50%;
  background:#ffd0d0;
  text-align:center;
  line-height:34px;
  font-size:1.7rem;
  position:fixed;
  right:10px;
  bottom:10px;
  opacity:0;
  visibility:hidden;
  transition:0.5s;
  z-index:8000;
}
/* top버튼에 적용할 서식 */
.act{
  opacity:1;
  visibility:visible !important;
}